<div id="dialog-confirm"></div>
<div Class="row marb">
    <button type="button" ng-show="viscom" ng-click="open()" class="btn btn-default" style="float:left;margin-left: 15px;">Comment</button>
    <button type="button" ng-show="visdel" id="btndele" ng-click="btndel()" Class="btn btne">Delete</button>
    <button type="button" ng-disabled="(status=='posted')" id="btnsave" Class="btn btn-primary btnf" ng-click="btnsave()">Save</button>
    <img src="~/Content/images/progressbar.gif" id="imgp" ng-show="(status=='posted')" width="80" />
    <i class="fa fa-2x fa-check" id="status" ng-show="(result=='success')">Success</i>
    <div id="failure" ng-show="(result=='failure')"><i class="fa fa-2x fa-remove"></i>&nbsp; {{message}}</div>
    <button type="button" id="btnback" onclick="window.history.back()" Class="btn btn-default btnf">Back</button>
    <button type="button" class="btn btnf btn-default" id="btnBacktoPrevious" ng-show="showbacktoprev" ng-click="backtoprev()">Back To Previous</button>
    <button type="button" class="btn btnf btn-default" ng-show="vissaveconti" ng-click="btnSaveAndNext()" ng-class="{disabled : isSaveContinueDisable}">Save and Continue</button>
</div>
