@using System.Data

@model DataSet
@using (Html.BeginForm("Index", "frmImport", FormMethod.Post, new { @id = "frmTable", @name = "frmTable" }))
{
    <div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 table-overflow" style="margin-top:8px">
                <label class="table-label">Table Content</label>
                <table Class="table table-bordered detailcolumn filtertable">
                    <tr>
                        @foreach (System.Data.DataColumn col in Model.Tables[0].Columns)
                        {
                            <th>@col.ColumnName</th>
                        }
                    </tr>

                    @foreach (System.Data.DataRow row in Model.Tables[0].Select())
                    {
                        <tr>
                            @foreach (System.Data.DataColumn col in Model.Tables[0].Columns)
                            {
                                <td>@row[col.ColumnName]</td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div Class="form-group" style="margin-top:8px">
            <div Class="col-md-offset-1 col-md-10" style="margin-top:50px;">
                <input type="submit" id="btnSave" value="Save" Class="btn btn-primary" />
            </div>
        </div>
    </div>
}